{% extends 'blank_with_menu.html' %}


{% block title %}About{% end %}


{% block content %}
<h1>Viper</h1>
    <ul class="list-inline">
        <li>
            <b>Author:</b>
            <a href="mailto:hunter.rafuse@sfbagency.com">Hunter Rafuse</a>
        </li>
        <li>
            <b>License:</b>
            <a href=" ">STRICT</a>
        </li>
    </ul>
</p>
{% end %}