// Number of columns in grid
$default-columns: 12;

// Default gutter width
$default-gutter: 0;

// Maximum width of the container element
$default-container: rem(1200px);

// Screen size breakpoints (for min-width queries)
$medium: em(640px);
$large: em(880px);
$xlarge: em(1200px);
$xxlarge: em(1920px);

// Screen size breakpoints (for max-width queries).
$small-max: $medium - em(1px);
$medium-max: $large - em(1px);
$large-max: $xlarge - em(1px);

// Disable the class grid. If you don't need the grid classes, you can disable them to reduce css file size.
$class-grid: false;