{% extends '../blank_with_menu.html' %}


{% block title %}CPU{% end %}


{% block content %}
<div class="Cpu">
    <dl class="dl-horizontal">
        <dt>MODEL</dt>
        <dd>{{ cpu['name'] }}</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>AMOUNT OF CORES</dt>
        <dd>{{ cpu['count'] }}</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>CORE LOAD</dt>
        <dd>
            <span id="load">{{ cpu['load'] }}</span>%
        </dd>
        <dt>CORE TEMP</dt>
        <dd>{{ cpu['core_temp'] }}</dd>
        <dd>
            <span id="temperature-stats"></span>
        </dd>
    
    </dl>

    <div class="panel cpubody-panel">
        <div class="panel-heading">
            CPU LOAD
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="cpu-chart">
                <div class="cpu-chart-content" id="cpu-load-chart"></div>
            </div>
        </div>
        <!-- /.panel-body -->
    </div>

    <div class="error-log-panel">
        <div>
    <div class="panel-heading">ERROR LOG</div>

        
        
        <dl>
        <dd>
            <span>error log</span>
        </dd>
        </dl>
        
        </iv>
    </div>
</div>
<!-- /.panel -->
{% end %}


{% block js %}
<!-- Plugin Scripts - Flot -->
<!--[if lte IE 8]>
<script src="{{ static_url('js/plugins/flot/excanvas.min.js') }}"></script>
<![endif]-->
<script src="{{ static_url('js/plugins/flot/jquery.flot.min.js') }}"></script>
<script src="{{ static_url('js/monitor/cpu.js') }}"></script>

{% end %}
