{% extends '../blank_with_menu.html' %}


{% block title %}Memory{% end %}


{% block content %}
<div class="Memory mem-background">
    <div clas="mem-background">
        <dl class="dl-horizontal">
            <dt>Total</dt>
            <dd>{{ memory['total'] }}</dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>Free</dt>
            <dd id="available">{{ memory['available'] }}</dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>Used</dt>
            <dd>
                <span id="used-percent">{{ memory['used_percent'] }}</span>%
            </dd>
        </dl>

        <div class="panel memory-panel">
            <div class="panel-heading">
                Memory usage
            </div>
        <!-- /.panel-heading -->

            <div class="mem-chart">
                <div class="mem-chart-content" id="used-percent-chart"></div>
            </div>
        </div>
        <!-- /.panel-body -->
    </div>
</div>
<!-- /.panel -->
{% end %}


{% block js %}
<!-- Plugin Scripts - Flot -->
<!--[if lte IE 8]>
<script src="{{ static_url('js/plugins/flot/excanvas.min.js') }}"></script>
<![endif]-->
<script src="{{ static_url('js/plugins/flot/jquery.flot.min.js') }}"></script>

<!-- Page-Level Script -->
<script src="{{ static_url('js/monitor/memory.js') }}"></script>
{% end %}
