.Cpu-MD{
    width: 40%;
    text-align: left;
    display: inline-block;
    margin: 1em 1em;
    & > .cpu-background {
        margin-bottom: 20px;
        background-color: #21202e;
        border: 1px solid transparent;
        width: 100%;
        border-radius: 4px;
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    }
    .panel-title {
        font-family: "Titillium + Web", sans-serif;
        font-size: 10px;
    }
    .panel-link {
        padding: 1em 0 0 1em;
    }
    .cpu-chart {
        // display: block;
        height: 24em;
      }
    .cpu-chart-main-data {
    // display: block;
        height: 24em;
    }
      
      .cpu-chart-content {
        width: 100%;
        height: 100%;
      }
}