.disk-container {
    max-width: 100%;

    & > .disks {
        display: inline-block;
        margin: 2em;
    }
    .meter-container{
        width: 100%;
        display: inline-block;
    }
    // .meter-round {

    // }
    .progress {
        overflow: hidden;
        height: 10px;
        margin-bottom: 0;
        background-color: $bar-empty;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
        .progress-bar {
            float: left;
            width: 0;
            height: 10px;
            font-size: 12px;
            line-height: .2em;
            color: #fff;
            text-align: center;
            background-color: #31e6e4;
            -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
            box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
            -webkit-transition: width 0.6s ease;
            transition: width 0.6s ease;
          }
          .glow {
            width:$glow-width;
            max-width:100%;
            height:100%;
            
        
          }
          .glow::before,
          .glow::after {
            content:'';
            display:block;
            position:relative;
            border-radius:0px 2px 2px 0px;
          }
          .glow::before {
            background:transparent;
            height:100%;
            box-shadow:0px 0px $glow-radius $bar-color, 0px 0px $glow-radius $glow-color;
            z-index:5;
          }
          .glow::after {
            background:linear-gradient(to right, $background-color 0%, transparent 100%);
            height:calc(100% + #{$glow-radius} + #{$glow-radius});
            width:calc(100% + #{$glow-radius});
            top:(-$glow-radius);
            left:(-$glow-radius);
            z-index:3;
          }
        
          .progress-striped .progress-bar {
            background-image: -webkit-linear-gradient(
              45deg,
              rgba(255, 255, 255, 0.15) 25%,
              transparent 25%,
              transparent 50%,
              rgba(255, 255, 255, 0.15) 50%,
              rgba(255, 255, 255, 0.15) 75%,
              transparent 75%,
              transparent
            );
            background-image: linear-gradient(
              45deg,
              rgba(255, 255, 255, 0.15) 25%,
              transparent 25%,
              transparent 50%,
              rgba(255, 255, 255, 0.15) 50%,
              rgba(255, 255, 255, 0.15) 75%,
              transparent 75%,
              transparent
            );
            background-size: 40px 40px;
          }
          .progress.active .progress-bar {
            -webkit-animation: progress-bar-stripes 2s linear infinite;
            animation: progress-bar-stripes 2s linear infinite;
            @-webkit-keyframes progress-bar-stripes {
                from {
                  background-position: 40px 0;
                }
                to {
                  background-position: 0 0;
                }
              }
              @keyframes progress-bar-stripes {
                from {
                  background-position: 40px 0;
                }
                to {
                  background-position: 0 0;
                }
              }
          }
          .progress-bar-success {
            background-color: #5cb85c;
          }
          .progress-striped .progress-bar-success {
            background-image: -webkit-linear-gradient(
              45deg,
              rgba(255, 255, 255, 0.15) 25%,
              transparent 25%,
              transparent 50%,
              rgba(255, 255, 255, 0.15) 50%,
              rgba(255, 255, 255, 0.15) 75%,
              transparent 75%,
              transparent
            );
            background-image: linear-gradient(
              45deg,
              rgba(255, 255, 255, 0.15) 25%,
              transparent 25%,
              transparent 50%,
              rgba(255, 255, 255, 0.15) 50%,
              rgba(255, 255, 255, 0.15) 75%,
              transparent 75%,
              transparent
            );
          }
          .progress-bar-info {
            background-color: #5bc0de;
          }
          .progress-striped .progress-bar-info {
            background-image: -webkit-linear-gradient(
              45deg,
              rgba(255, 255, 255, 0.15) 25%,
              transparent 25%,
              transparent 50%,
              rgba(255, 255, 255, 0.15) 50%,
              rgba(255, 255, 255, 0.15) 75%,
              transparent 75%,
              transparent
            );
            background-image: linear-gradient(
              45deg,
              rgba(255, 255, 255, 0.15) 25%,
              transparent 25%,
              transparent 50%,
              rgba(255, 255, 255, 0.15) 50%,
              rgba(255, 255, 255, 0.15) 75%,
              transparent 75%,
              transparent
            );
          }
          .progress-bar-warning {
            background-color: #f0ad4e;
          }
          .progress-striped .progress-bar-warning {
            background-image: -webkit-linear-gradient(
              45deg,
              rgba(255, 255, 255, 0.15) 25%,
              transparent 25%,
              transparent 50%,
              rgba(255, 255, 255, 0.15) 50%,
              rgba(255, 255, 255, 0.15) 75%,
              transparent 75%,
              transparent
            );
            background-image: linear-gradient(
              45deg,
              rgba(255, 255, 255, 0.15) 25%,
              transparent 25%,
              transparent 50%,
              rgba(255, 255, 255, 0.15) 50%,
              rgba(255, 255, 255, 0.15) 75%,
              transparent 75%,
              transparent
            );
          }
          .progress-bar-danger {
            background-color: #d9534f;
          }
          .progress-striped .progress-bar-danger {
            background-image: -webkit-linear-gradient(
              45deg,
              rgba(255, 255, 255, 0.15) 25%,
              transparent 25%,
              transparent 50%,
              rgba(255, 255, 255, 0.15) 50%,
              rgba(255, 255, 255, 0.15) 75%,
              transparent 75%,
              transparent
            );
            background-image: linear-gradient(
              45deg,
              rgba(255, 255, 255, 0.15) 25%,
              transparent 25%,
              transparent 50%,
              rgba(255, 255, 255, 0.15) 50%,
              rgba(255, 255, 255, 0.15) 75%,
              transparent 75%,
              transparent
            );
          }
         
    }
}