.Memory-MD {
    width: 40%;
    text-align: left;
    display: inline-block;  
    margin: 0 0 0 1em;
    & > .mem-background {
        margin-bottom: 20px;
        // position: absolute;
        // top: 11.39em;
        // right: 4.25em;
        // height: 24em;
        background-color: #21202e;
        border: 1px solid transparent;
        width: 100%;
        border-radius: 4px;
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    }
    .panel-link {
        padding-left: 1em;
        padding-top: 1em;
    }
    .panel-title {
        font-family: "Titillium + Web", sans-serif;
        font-size: 10px;
        padding-left: 1em;
        padding-top: 1em;
    }
    .mem-chart-main-data {
        // display: block;
        height: 23.2em;
      }
      
    .mem-chart-content-main-data {
        width: 100%;
        height: 100%;
      }
}