.Memory {
    max-width: 100%;
    text-align: left;
    & > .mem-background {
        margin-bottom: 20px;
        background-color: #21202e;
        border: 1px solid transparent;
        max-width: 50%;
        border-radius: 4px;
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    }
    .panel-title {
        font-family: "Titillium + Web", sans-serif;
        font-size: 10px;
    }
    .mem-chart {
        // display: block;
        height: 34em;
      }
      
      .mem-chart-content {
        width: 100%;
        height: 100%;
      }
}