// Fonts
$f-regular: "Ubuntu", sans-serif;
$f-special: "Roboto Slab", sans-serif;

// Colors
$c-dark: #000;

// Misc
$header-height: em(100px);
$header-height-small: em(60px);

//Progress Bar
$background-color:#3d5980;
$bar-empty:#55708d;
$bar-color:#cfd6dd;

$glow-width:60px;
$glow-radius:10px;
$glow-color:#04bfff;
