// Delfin
@import "delfin/functions";
@import "delfin/settings";
@import "delfin/delfin";

// Init
@import "cpu-graph";
@import "variables";
@import "mem-graph";
@import "mem-maindata";
@import "cpu-maindata";
@import "disk-maindata";
@import "disk-page";
@import "network-graph";

// Utils
@import "utils/checkbox";
// Delete when starting new project

// .main-container {
//     max-width: 100%;
//     display: inline-block;
//     margin: 1em 1em;
// }