{% extends '../blank_with_menu.html' %}
{% module Template('cpu.html', **args) %}
{% module Template('memory.html', **args) %}
{% module Template('network.html', **args) %}

{% block title %}Data{% end %}


{% block content %}
<div class="Cpu-MD cpu-background">
    <div class="cpu-background">
        <div class="panel-title">
            <a class="panel-link" href="/monitor/cpu">CPU LOAD</a>
            <dl class="dl-horizontal">
        <dt>MODEL</dt>
        <dd>{{ cpu['name'] }}</dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>AMOUNT OF CORES</dt>
            <dd>{{ cpu['count'] }}</dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>CORE LOAD</dt>
            <dd>
                <span id="load">{{ cpu['load'] }}</span>%
            </dd>
        </dl>
        </div>
    <!-- /.panel-heading -->
    
        <div class="cpu-chart-main-data">
            <div class="cpu-chart-content" id="cpu-load-chart"></div>
        </div>
    </div>
    <!-- /.panel-body -->
</div>
<!-- /.panel -->


<div class="Memory-MD mem-background">
    <div class="mem-background">
        <div class="panel-title">
            <a href="/monitor/memory">MEMORY USAGE</a>
            <dl class="dl-horizontal">
        <dt>Total</dt>
        <dd>{{ memory['total'] }}</dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>Free</dt>
            <dd id="available">{{ memory['available'] }}</dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>Used</dt>
            <dd>
                <span id="used-percent">{{ memory['used_percent'] }}</span>%
            </dd>
        </dl>
        </div>
        <!-- /.panel-heading -->
        <div class="panel memory-panel">
            <div class="mem-chart-main-data">
                <div class="mem-chart-content-main-data" id="used-percent-chart"></div>
            </div>
        </div>
    <!-- /.panel-body -->
    </div>
</div>
<!-- /.panel -->
<div class="row Disk-MD disk-background">
    <div class ="disk-background">
        <div class="panel">
            <div class="panel-heading">
                <a href="/monitor/disk">DISK</a>
            </div>
        
            <div class="col-sm-12 col-md-12 col-lg-12 " data-block-name="disk_devices">
            {% for dev in devices %}
                <div data-block-name ="device" data-device-name="{{ dev['device'] }}" class="row">
                    <div data-block-name="common_disk_info" class="row">
                        <div class="col-sm-9 col-md-9 col-lg-9">
                            <b data-value-name="device">{{ dev['device'] }}</b>
                            <span data-value-name="mountpoint">
                                {% if (dev['mountpoint'] is not None) and (dev['mountpoint'] != dev['device']) %}
                                    (mounted as "{{ dev['mountpoint'] }}")
                                {% end %}
                            </span>
                            <span data-value-name="fstype">
                                {% if dev['fstype'] %}
                                    in the {{ dev['fstype'] }} file system
                                {% end %}
                            </span>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3 text-right">
                            <span class="label label-info">
                                <span data-value-name="used">{{ dev['used'] }}</span>
                                /
                                <span data-value-name="total">{{ dev['total'] }}</span>
                            </span>
                        </div>
                    </div>
                    <div data-block-name="used_disk_info" class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="progress progress-striped active">
                                {% if dev['used_percent'] <= 50 %}
                                    <div class="progress-bar progress-bar-success glow"
                                        style="width: {{ dev['used_percent'] }}%"
                                        data-value-name="used_percent">
                                    </div>
                                {% elif dev['used_percent'] <= 75 %}
                                    <div class="progress-bar progress-bar-warning glow"
                                        style="width: {{ dev['used_percent'] }}%"
                                        data-value-name="used_percent">
                                    </div>
                                {% else %}
                                    <div class="progress-bar progress-bar-danger glow"
                                        style="width: {{ dev['used_percent'] }}%"
                                        data-value-name="used_percent">
                                    </div>
                                {% end %}
                            </div>
                        </div>
                    </div>
                </div>
                {% end %}
            <hr>
    
        </div>
  </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <a href="/monitor/network">Bytes Rec/Sent</a>
        <dl class="dl-horizontal">
    <dt>Hostname</dt>
    <dd>{{ network['hostname'] }}</dd>
</dl>
<dl class="dl-horizontal">
    <dt>MAC address</dt>
    <dd>{{ network['mac_address'] }}</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>IP address</dt>
        <dd>{{ network['ip_address'] }}</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>Mask</dt>
        <dd>{{ network['mask'] }}</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>Gateway</dt>
        <dd>{{ network['gateway'] }}</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>Bytes sent</dt>
        <dd id="bytes_sent">{{ network['bytes_sent'] }}</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>Bytes received</dt>
        <dd id="bytes_recv">{{ network['bytes_recv'] }}</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>Bytes received</dt>
       <!-- ADD A BYTES RECEIVED FOR PACKETS -->
        <dd id="bytes_recv">{{ network['bytes_recv'] }}</dd>
    </dl>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="flot-chart">
            <div class="flot-chart-content" id="bytes_chart"></div>
        </div>
    </div>
    <!-- /.panel-body -->
</div>
{% end %}


{% block js %}
<!-- Plugin Scripts - Flot -->
<!--[if lte IE 8]>
<script src="{{ static_url('js/plugins/flot/excanvas.min.js') }}"></script>
<![endif]-->
<script src="{{ static_url('js/plugins/flot/jquery.flot.min.js') }}"></script>

<!-- Page-Level Script -->
<script src="{{ static_url('js/monitor/network.js') }}"></script>
<script src="{{ static_url('js/monitor/memory.js') }}"></script>
<script src="{{ static_url('js/monitor/cpu.js') }}"></script>
<script src="{{ static_url('js/monitor/disk.js') }}"></script>
{% end %}