/* Global Styles */

body {
  padding-top: 100px;
  background-color: #241829;
  /* background-image: url("../img/kraitsnakelarge.jpg"); */
  background-repeat: no-repeat;
  background-size: 100%, 100%;
}

@media (min-width: 768px) {
  body {
    padding-top: 50px;
  }
}

/* Wrappers */

#wrapper {
  width: 100%;
}

#page-wrapper {
  display: block;
  padding: 0 15px;
  min-height: 568px;
  color: #fff;
  background: #484E68;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #292E49, #484E68);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #292E49, #484E68); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.flex-items {
  display: flex;
  flex: 1 1 auto;
  width: 100%;
}
.battery-usage {
  position: relative;
  top: 0;
}
@media (min-width: 768px) {
  #page-wrapper {
    position: inherit;
    margin: 0 0 0 250px;
    padding: 0 30px;
    min-height: 1300px;
    border-left: 1px solid transparent;
  }
}

/* Navigation */

/* Top Right Navigation Dropdown Styles */

.navbar-top-links li {
  display: inline-block;
}

.navbar-top-links li:last-child {
  margin-right: 15px;
}

.navbar-top-links li a {
  padding: 15px;
  min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
  display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
  margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
  padding: 3px 20px;
  min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
  white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
  width: 310px;
  min-width: 0;
}

.navbar-top-links .dropdown-messages {
  margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
  margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
  margin-left: -123px;
}

.navbar-top-links .dropdown-user {
  right: 0;
  left: auto;
}

.navbar-brand img {
  width: 1em;
  height: 1em;
}

/* Sidebar Menu Styles */

.navbar-static-side ul li {
  border-bottom: 1px solid transparent;
}

.sidebar-search {
  padding: 15px;
}

.arrow {
  float: right;
}

.fa.arrow:before {
  content: "\f104";
}

.active > a > .fa.arrow:before {
  content: "\f107";
}

.nav-second-level li,
.nav-third-level li {
  border-bottom: none !important;
}

.nav-second-level li a {
  padding-left: 37px;
}

.nav-third-level li a {
  padding-left: 52px;
}

@media (min-width: 768px) {
  .navbar-static-side {
    z-index: 1;
    position: absolute;
    width: 250px;
    margin-top: 51px;
  }

  .navbar-top-links .dropdown-messages,
  .navbar-top-links .dropdown-tasks,
  .navbar-top-links .dropdown-alerts {
    margin-left: auto;
  }
}

@media (max-height: 600px) and (max-width: 767px) {
  .sidebar-collapse {
    max-height: 300px;
    overflow-y: scroll;
  }
}

@media (max-height: 400px) and (max-width: 767px) {
  .sidebar-collapse {
    max-height: 200px;
    overflow-y: scroll;
  }
}

/* Buttons */

.btn-outline {
  color: inherit;
  background-color: transparent;
  transition: all 0.5s;
}

.btn-primary.btn-outline {
  color: #428bca;
}

.btn-success.btn-outline {
  color: #5cb85c;
}

.btn-info.btn-outline {
  color: #5bc0de;
}

.btn-warning.btn-outline {
  color: #f0ad4e;
}

.btn-danger.btn-outline {
  color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
  color: #fff;
}

/* Flot Chart Containers */



/* Circle Buttons */

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.428571429;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  border-radius: 25px;
  font-size: 18px;
  line-height: 1.33;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}

.show-grid [class^="col-"] {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #ddd;
  background-color: transparent !important;
}

.show-grid {
  margin: 15px 0;
}

/* Page: "/monitor/disk" */

[data-block-name="used_disk_info"] {
  margin-top: 2px;
}
[data-value-name="device"],
[data-value-name="mountpoint"],
[data-value-name="fstype"] {
  color: #488e9f;
}
