*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto; }

.row:after {
  content: "";
  display: table;
  clear: both; }

meta.breakpoints-small-max {
  font-family: "39.9375em"; }

meta.breakpoints-medium {
  font-family: "40em"; }

meta.breakpoints-medium-max {
  font-family: "54.9375em"; }

meta.breakpoints-large {
  font-family: "55em"; }

meta.breakpoints-large-max {
  font-family: "74.9375em"; }

meta.breakpoints-xlarge {
  font-family: "75em"; }

.Cpu {
  max-width: 100%;
  text-align: left; }
  .Cpu > .cpu-background {
    margin-bottom: 20px;
    background-color: #21202e;
    border: 1px solid transparent;
    max-width: 100%;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }
  .Cpu .panel-title {
    font-family: "Titillium + Web", sans-serif;
    font-size: 10px; }
  .Cpu .cpu-chart {
    height: 24em; }
  .Cpu .cpu-chart-main-data {
    height: 24em; }
  .Cpu .cpu-chart-content {
    width: 100%;
    height: 100%; }

.Memory {
  max-width: 100%;
  text-align: left; }
  .Memory > .mem-background {
    margin-bottom: 20px;
    background-color: #21202e;
    border: 1px solid transparent;
    max-width: 50%;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }
  .Memory .panel-title {
    font-family: "Titillium + Web", sans-serif;
    font-size: 10px; }
  .Memory .mem-chart {
    height: 34em; }
  .Memory .mem-chart-content {
    width: 100%;
    height: 100%; }

.Memory-MD {
  width: 40%;
  text-align: left;
  display: inline-block;
  margin: 0 0 0 1em; }
  .Memory-MD > .mem-background {
    margin-bottom: 20px;
    background-color: #21202e;
    border: 1px solid transparent;
    width: 100%;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }
  .Memory-MD .panel-link {
    padding-left: 1em;
    padding-top: 1em; }
  .Memory-MD .panel-title {
    font-family: "Titillium + Web", sans-serif;
    font-size: 10px;
    padding-left: 1em;
    padding-top: 1em; }
  .Memory-MD .mem-chart-main-data {
    height: 23.2em; }
  .Memory-MD .mem-chart-content-main-data {
    width: 100%;
    height: 100%; }

.Cpu-MD {
  width: 40%;
  text-align: left;
  display: inline-block;
  margin: 1em 1em; }
  .Cpu-MD > .cpu-background {
    margin-bottom: 20px;
    background-color: #21202e;
    border: 1px solid transparent;
    width: 100%;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }
  .Cpu-MD .panel-title {
    font-family: "Titillium + Web", sans-serif;
    font-size: 10px; }
  .Cpu-MD .panel-link {
    padding: 1em 0 0 1em; }
  .Cpu-MD .cpu-chart {
    height: 24em; }
  .Cpu-MD .cpu-chart-main-data {
    height: 24em; }
  .Cpu-MD .cpu-chart-content {
    width: 100%;
    height: 100%; }

.Disk-MD {
  max-width: 100%;
  text-align: left;
  padding: 0 1em 0 1em; }
  .Disk-MD > .disk-background {
    margin-bottom: 20px;
    height: 50em;
    background-color: #21202e;
    border: 1px solid transparent;
    padding: 0 1em 0 1em;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }
  .Disk-MD .progress {
    overflow: hidden;
    height: 10px;
    margin-bottom: 0;
    background-color: #55708d;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); }
    .Disk-MD .progress .progress-bar {
      float: left;
      width: 0;
      height: 10px;
      font-size: 12px;
      line-height: .2em;
      color: #fff;
      text-align: center;
      background-color: #31e6e4;
      -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
      box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
      -webkit-transition: width 0.6s ease;
      transition: width 0.6s ease; }
    .Disk-MD .progress .glow {
      width: 60px;
      max-width: 100%;
      height: 100%; }
    .Disk-MD .progress .glow::before,
    .Disk-MD .progress .glow::after {
      content: '';
      display: block;
      position: relative;
      border-radius: 0px 2px 2px 0px; }
    .Disk-MD .progress .glow::before {
      background: transparent;
      height: 100%;
      box-shadow: 0px 0px 10px #cfd6dd, 0px 0px 10px #04bfff;
      z-index: 5; }
    .Disk-MD .progress .glow::after {
      background: linear-gradient(to right, #3d5980 0%, transparent 100%);
      height: calc(100% + 10px + 10px);
      width: calc(100% + 10px);
      top: -10px;
      left: -10px;
      z-index: 3; }
    .Disk-MD .progress .progress-striped .progress-bar {
      background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
      background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
      background-size: 40px 40px; }
    .Disk-MD .progress .progress.active .progress-bar {
      -webkit-animation: progress-bar-stripes 2s linear infinite;
      animation: progress-bar-stripes 2s linear infinite; }
@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0; }
  to {
    background-position: 0 0; } }
@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0; }
  to {
    background-position: 0 0; } }
    .Disk-MD .progress .progress-bar-success {
      background-color: #5cb85c; }
    .Disk-MD .progress .progress-striped .progress-bar-success {
      background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
      background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent); }
    .Disk-MD .progress .progress-bar-info {
      background-color: #5bc0de; }
    .Disk-MD .progress .progress-striped .progress-bar-info {
      background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
      background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent); }
    .Disk-MD .progress .progress-bar-warning {
      background-color: #f0ad4e; }
    .Disk-MD .progress .progress-striped .progress-bar-warning {
      background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
      background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent); }
    .Disk-MD .progress .progress-bar-danger {
      background-color: #d9534f; }
    .Disk-MD .progress .progress-striped .progress-bar-danger {
      background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
      background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent); }

.disk-container {
  max-width: 100%; }
  .disk-container > .disks {
    display: inline-block;
    margin: 2em; }
  .disk-container .meter-container {
    width: 100%;
    display: inline-block; }
  .disk-container .progress {
    overflow: hidden;
    height: 10px;
    margin-bottom: 0;
    background-color: #55708d;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); }
    .disk-container .progress .progress-bar {
      float: left;
      width: 0;
      height: 10px;
      font-size: 12px;
      line-height: .2em;
      color: #fff;
      text-align: center;
      background-color: #31e6e4;
      -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
      box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
      -webkit-transition: width 0.6s ease;
      transition: width 0.6s ease; }
    .disk-container .progress .glow {
      width: 60px;
      max-width: 100%;
      height: 100%; }
    .disk-container .progress .glow::before,
    .disk-container .progress .glow::after {
      content: '';
      display: block;
      position: relative;
      border-radius: 0px 2px 2px 0px; }
    .disk-container .progress .glow::before {
      background: transparent;
      height: 100%;
      box-shadow: 0px 0px 10px #cfd6dd, 0px 0px 10px #04bfff;
      z-index: 5; }
    .disk-container .progress .glow::after {
      background: linear-gradient(to right, #3d5980 0%, transparent 100%);
      height: calc(100% + 10px + 10px);
      width: calc(100% + 10px);
      top: -10px;
      left: -10px;
      z-index: 3; }
    .disk-container .progress .progress-striped .progress-bar {
      background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
      background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
      background-size: 40px 40px; }
    .disk-container .progress .progress.active .progress-bar {
      -webkit-animation: progress-bar-stripes 2s linear infinite;
      animation: progress-bar-stripes 2s linear infinite; }
@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0; }
  to {
    background-position: 0 0; } }
@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0; }
  to {
    background-position: 0 0; } }
    .disk-container .progress .progress-bar-success {
      background-color: #5cb85c; }
    .disk-container .progress .progress-striped .progress-bar-success {
      background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
      background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent); }
    .disk-container .progress .progress-bar-info {
      background-color: #5bc0de; }
    .disk-container .progress .progress-striped .progress-bar-info {
      background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
      background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent); }
    .disk-container .progress .progress-bar-warning {
      background-color: #f0ad4e; }
    .disk-container .progress .progress-striped .progress-bar-warning {
      background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
      background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent); }
    .disk-container .progress .progress-bar-danger {
      background-color: #d9534f; }
    .disk-container .progress .progress-striped .progress-bar-danger {
      background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
      background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent); }

.Network {
  max-width: 100%;
  text-align: left; }
  .Network > .network-background {
    margin-bottom: 20px;
    background-color: #21202e;
    border: 1px solid transparent;
    max-width: 100%;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }
  .Network .panel-title {
    font-family: "Titillium + Web", sans-serif;
    font-size: 10px; }
  .Network .network-chart {
    height: 24em; }
  .Network .network-chart-main-data {
    height: 24em; }
  .Network .network-chart-content {
    width: 100%;
    height: 100%; }

.c-checkbox {
  position: relative;
  margin-right: .5em; }
  .c-checkbox span {
    display: inline-block;
    vertical-align: middle;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-left: 2.2em; }
    .c-checkbox span:before {
      content: "";
      display: inline-block;
      width: 1.5em;
      height: 1.5em;
      line-height: 1.5em;
      background: #fff;
      margin-right: 0.7em;
      border: 1px solid #ccc;
      border-radius: 0px;
      vertical-align: middle;
      position: absolute;
      left: 0;
      top: 0; }
  .c-checkbox input:checked + span:before {
    content: url("../images/bullet.svg");
    text-align: center; }
  .c-checkbox input {
    opacity: 0;
    position: absolute; }

/*# sourceMappingURL=style.css.map */
