// Accordion

.c-accordion {
	margin: 0;
	padding: 0;
	list-style: none;

	.item {
		border-top: 1px solid #000;
		// height: 0;
		// overflow: hidden;
		// transition: height .5s ease-out;

		&.m-active {
			.title {
				&:after {
					transform-origin: 50% 50%;
					transform: rotate(180deg);
				}
			}

			& > div {
				display: block;
			}
		}

		&:last-of-type {
			border-bottom: 1px solid #000;
		}
	}

	// Title
	.title {
		cursor: pointer;
		position: relative;
		font-size: em(20px);
		margin: 0;

		&:after {
			content: "";
			line-height: 0;
			text-align: center;
			position: absolute;
			top: 50%;
			right: 1em;
			margin-top: em(-3px);
			width: 0; 
			height: 0; 
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-top: 10px solid $c-dark;
		}

		button {
			display: block;
			width: 100%;
			background: none;
			border: none;
			padding: 1.2em 0;
			padding-right: em(25px);
			text-align: left;
		}
	}

	// Content
	li > div {
		// display: none;
		padding: 1em .25em;

		p:first-of-type {
			margin-top: 0;
		}
	}
}