// Filter

.c-filter {
	margin-bottom: 1em;

	button {
		border: none;
		background: $c-dark;
		color: #fff;
		padding: 1em;

		&.m-active {
			background: purple;
		}
	}
}

// Target

.c-filter-target {
	& > div {
		border: 1px solid #000;

		&.m-hidden {
			display: none;
		}
	}
}