// Loader

.c-loader {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	margin-top: -18px;

	@keyframes loader {
		from {transform: rotate(0deg);}
		to {transform: rotate(360deg);}
	}

	&.m-active {
		.inner {
			display: inline-block;
			animation: loader 0.8s linear infinite;
		}
	}

	&.m-reverse {
		.inner {
			border-top-color:rgba(255,255,255, 0.65);
			border-bottom-color:rgba(255,255,255, 0.15);
			border-left-color:rgba(255,255,255, 0.65);
			border-right-color:rgba(255,255,255, 0.15);
		}
	}

	.inner {
		width: 35px;
		height: 35px;
		display: inline-block;
		padding: 0px;
		border-radius: 100%;
		border: 2px solid;
		border-top-color:rgba(248,135,74, 0.65);
		border-bottom-color:rgba(248,135,74, 0.15);
		border-left-color:rgba(248,135,74, 0.65);
		border-right-color:rgba(248,135,74, 0.15);
		display: none;
	}
}