// Overlay

.c-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background: rgba(0,0,0,.85);
	opacity: 0;
	visibility: hidden;
	transition: opacity .25s ease-out, visibility 0s .25s ease-out;
	max-height: 100%;
	overflow: auto;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;

	@include min($medium) {
		padding: 4em 2em;
	}

	.inner {
		background: #fff;
		padding: 3em;
		margin-bottom: 4em;
		position: relative;

		@include container(em(700px));
	}

	.background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
	}

	.close {
		position: absolute;
		top: .5em;
		right: .5em;
		width: em(44px);
		height: em(44px);
		background: none;
		border: none;

		&:before, &:after {
			content: "";
			width: 30px;
			height: 1px;
			background: #000;
			position: absolute;
			top: em(21px);
			left: em(6px);
		}

		&:before {
			transform: rotate(45deg);
		}

		&:after {
			transform: rotate(-45deg);
		}
	}
}

html.m-overlay-open {
	overflow: hidden;

	.c-overlay {
		&.m-active {
			opacity: 1;
			visibility: visible;
			transition: opacity .25s ease-out;
		}
	}
}