.c-scroller {
	position: relative;
	white-space: nowrap;

	& > .inner {
		overflow: auto;
		white-space: nowrap;
		-webkit-overflow-scrolling: touch;

		& > div {
			display: flex;

			& > div {
				min-width: 30%;
				margin-right: .5em;
				white-space: normal;
			}
		}
	}

	img {
		display: block;
	}
}