.c-video-embed {
	margin-bottom: 1em;

	.image {
		position: relative;

		.play {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border: none;
			cursor: pointer;
			color: #fff;
			background: none;

			.inner {
				position: absolute;
				top: 50%;
				left: 50%;
				margin-left: em(-25px);
				margin-top: em(-25px);
			}

			.icon {
				width: em(50px);
				height: em(50px);
				border: 2px solid #fff;
				display: inline-block;
				border-radius: 50%;
				margin-right: .5em;
				vertical-align: middle;

				&:before {
					content: "";
					width: 0; 
					height: 0; 
					border-top: em(11px) solid transparent;
					border-bottom: em(11px) solid transparent;
					border-left: em(16px) solid #fff;
					display: block;
					margin-top: .7em;
					margin-left: 1em;
				}
			}
		}
	}

	&.m-active {
		.embed {
			display: block;
			// opacity: 1;
			// visibility: visible;
			// transition: opacity .5s linear;
		}

		.image {
			display: none;
		}
	}

	.embed {
		display: none;
		// opacity: 0;
		// visibility: hidden;
		// transition: visibility 0 .5s linear, opacity .5s linear;

		position: relative;
		padding-bottom: 56.25%;
		height: 0;

		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	img {
		width: 100%;
	}

	p {
		position: relative;
		line-height: 1.2;
		text-align: center;
		padding: .5em 2.5em;
		margin: 0;
		margin-top: -1em;
		border: 1px solid #000;
		border-radius: 50px;
		background-color: #fff;
		z-index: 1;
	}
}